In [1]:
import plotly.express as px
df = px.data.gapminder().query("year == 2007").query("continent == 'Europe'")
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
23,Albania,Europe,2007,76.423,3600523,5937.029526,ALB,8
83,Austria,Europe,2007,79.829,8199783,36126.492700,AUT,40
119,Belgium,Europe,2007,79.441,10392226,33692.605080,BEL,56
155,Bosnia and Herzegovina,Europe,2007,74.852,4552198,7446.298803,BIH,70
191,Bulgaria,Europe,2007,73.005,7322858,10680.792820,BGR,100
383,Croatia,Europe,2007,75.748,4493312,14619.222720,HRV,191
407,Czech Republic,Europe,2007,76.486,10228744,22833.308510,CZE,203
419,Denmark,Europe,2007,78.332,5468120,35278.418740,DNK,208
527,Finland,Europe,2007,79.313,5238460,33207.084400,FIN,246
539,France,Europe,2007,80.657,61083916,30470.016700,FRA,250
575,Germany,Europe,2007,79.406,82400996,32170.374420,DEU,276
599,Greece,Europe,2007,79.483,10706290,27538.411880,GRC,300
683,Hungary,Europe,2007,73.338,9956108,18008.944440,HUN,348
695,Iceland,Europe,2007,81.757,301931,36180.789190,ISL,352
755,Ireland,Europe,2007,78.885,4109086,40675.996350,IRL,372
779,Italy,Europe,2007,80.546,58147733,28569.719700,ITA,380
1019,Montenegro,Europe,2007,74.543,684736,9253.896111,MNE,499
1091,Netherlands,Europe,2007,79.762,16570613,36797.933320,NLD,528
1151,Norway,Europe,2007,80.196,4627926,49357.190170,NOR,578
1235,Poland,Europe,2007,75.563,38518241,15389.924680,POL,616
1247,Portugal,Europe,2007,78.098,10642836,20509.647770,PRT,620
1283,Romania,Europe,2007,72.476,22276056,10808.475610,ROU,642
1343,Serbia,Europe,2007,74.002,10150265,9786.534714,SRB,688
1379,Slovak Republic,Europe,2007,74.663,5447502,18678.314350,SVK,703
1391,Slovenia,Europe,2007,77.926,2009245,25768.257590,SVN,705
1427,Spain,Europe,2007,80.941,40448191,28821.063700,ESP,724
1475,Sweden,Europe,2007,80.884,9031088,33859.748350,SWE,752
1487,Switzerland,Europe,2007,81.701,7554661,37506.419070,CHE,756
1583,Turkey,Europe,2007,71.777,71158647,8458.276384,TUR,792
1607,United Kingdom,Europe,2007,79.425,60776238,33203.261280,GBR,826

In [2]:
import pandas as pd
df2 = pd.read_csv('./dash_web/web_csv/Tags.csv')
df2.iloc[[0, 1]]

,標籤,全部作品數,前25%作品數,受歡迎比例(%),占全部作品比例(%),占前25%作品比例(%),最低(萬),平均(萬),中位數(萬),最高(萬)
0,新作,272,58,21.3,62.1,52.7,0.0,9.7,5.6,93.3
1,續作,166,52,31.3,37.9,47.3,0.1,12.3,6.8,92.8